[submodule "LibPFASST"]
	path = LibPFASST
	url = https://github.com/libpfasst/LibPFASST.git
[submodule "examples/EX3_adv_diff/libfftpack"]
	path = examples/EX3_adv_diff/libfftpack
	url = git@github.com:dagss/libfftpack.git
